.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3, p {
  margin: 2px;
  font-weight: 900;
}

.App form {
  margin: 20px 0; 
}

.App form input {
  width: 200px;
  margin-right: 10px; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.GiftList {
  border-radius: 10px;
  background-image: url('https://images.freeimages.com/images/large-previews/6c4/parchment-1148173.jpg') ;
  box-shadow: 2px 4px 4px 0px rgba(40, 40, 40, 0.708);

}

.GiftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.GiftWrapper h2 {
  font-size: 30px;
  text-shadow: 2px 2px 1px aliceblue;
}

.mail {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .GiftList {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .listForm {
    display: flex;
    justify-content: center;
  }
}